.produto {

.produto__imagem { 
    width: 100%;
}

.produto__nome { 
    font-size: 1.2em;
    margin: 8px 0;
}

.produto__descricao { /* elemento */
    color: gray;
}
}
.em--destaque { /* modificador */
    border: 2px solid gold;
    padding: 8px;
    background-color: #ffff42;
}
